@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee1 {

    animation: marquee1 20s linear infinite;
}

@keyframes marquee1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
.marquee2 {

    animation: marquee2 20s linear infinite;
}

@keyframes marquee2 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}


.flex {
    flex-shrink: 0;
    /* Prevent the flex items from shrinking */
}

.new {
    position: relative;
}

.new::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: white;
    transform-origin: bottom right;
    transform: scaleX(0);
    border-radius: 1rem;
    transition: transform 0.5s ease;
}

.new:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}